// Categories component scss


.categories {
  padding-top: $small-space;
  padding-bottom: $small-space;
  font-size: 14px;
  span {
    color: $gray;
    padding-right: $separation;
    &.last {
      font-weight: $bold;
    }
  }
}