body {
    background-color: $light-gray;
    font-family: $main-font;
    font-size: $font-md;
    font-weight: $regular;
    overflow-x: hidden;
  }
  
  @include media-breakpoint-up(sm) {
    .container-fluid {
      padding-left: $container-padding;
      padding-right: $container-padding;
    }
  }