// Elements
%button {
    outline: none;
    border: none;
    border-radius: $button-radius;
    font-size: $font-md;
  }
  
  %input {
    outline: none;
    border: none;
    font-size: $font-md;
    color: $black;
    &::placeholder {
      color: $gray;
    }
  }
  
  %form-group-child {
    padding: $form-group-padding;
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
  
  .input-group {
    width: 100%;
  
    input {
      @extend %input;
      flex: 1 1 auto;
      border-radius: $form-group-radius;
      @extend %form-group-child;
    }
  
    button {
      @extend %button;
      flex: 0 0 auto;
      background-color: $light-gray;
      border-radius: $form-group-radius;
      @extend %form-group-child;
    }
  }
  
  .primary-button {
    @extend %button;
    color: white;
    background-color: $blue;
    padding: $small-space;
    width: 100%;
  }
  
  .message {
    padding-top: $small-space;
  }
  
  %a {
    color: $black;
    text-decoration: none;
  }
  
  a {
    @extend %a;
    &:hover {
      @extend %a;
    }
  }
  
  .item-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  
  .xs-text-center {
    @include media-breakpoint-only(xs) {
      text-align: center;
    }
    .image-container {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  