// No Results component scss

.no-result {
  max-width: 1018px;
  min-height: 204px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  margin: 48px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  padding: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  .info {
    display: inline-block;
    vertical-align: middle;
    padding: 0px;

    .links__list {
      list-style-type: disc;
      padding-left: 18px;
      margin-top: 16px;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.38;
    }

    .header__title {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.08;
    }

    .ch-btn-action {
      padding: 9px 17px;
      color: #666;
      font-size: 15px;
      text-shadow: 1px 1px 0 #fff;
      text-align: center;
    }
  }
}
