// SearchItems component scss

.container-fluid.search-container {
  background-color: $color-primary;
  padding-top: $search-bar-padding;
  padding-bottom: $search-bar-padding;

  .img-logo {
    height: 36px;
    width: 53px;
  }

  @include media-breakpoint-down(md) {
    .logo {
      padding-bottom: $small-space;
    }
  }
}
