// Colors
$yellow: #FFE600;
$black: #333333;
$dark-gray: #666666;
$gray: #999999;
$light-gray: #EEEEEE;
$blue: #3483FA;

$color-primary: $yellow;
$color-accent: $blue;

// Fonts
$light: 100;
$regular: 400;
$bold: 600;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 46px;
$main-font:
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif;

  // Layout
$container-padding: 3em;
$small-radius: 4px;
$small-space: 16px;
$large-space: 32px;
$container-radius: $small-radius;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


// Forms
$form-group-radius: $small-radius;
$form-group-padding: 10px 16px;
$button-radius: 8px;

// Images
$thumbnail-size: 180px;
$thumbnail-radius: $small-radius;
$picture-size: 680px;

// SearchItems

$search-bar-padding: 0.65em;

// itemDetails

$title-size: 28px;
$content-size: 16px;

//item
$separator-distance: 2%;

//categories
$separation: 6px;